* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: #333;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    color: rgb(172, 172, 172);
    margin: 0;
    padding: 0;
}

a {
    color: white;
}

p {
    margin: 20;
    padding: 20;
}

h1 {
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}
h2 {
    color: rgb(212, 212, 212);
    margin: 0;
    padding: 0;
}
div {
    background: none;
    margin: auto;
}
header {
    background: #111;
    
}
section {
    padding: 20px;
    display: flex;
    flex-direction: row;
}
footer {
    background: black;
    position: fixed;
    width: 100%;
    display: block;
    bottom: 0;
    left: 0;
}
ul {
    list-style-type: none;
}
li {
    display:  inline-block;
    margin:  20px;
}